---
- name: Install PostgreSQL
  apt: name=postgresql state=present

- name: Start PostgreSQL
  service: name=postgresql state=started enabled=yes

- name: Allow remote connections (Listen *)
  lineinfile:
    path: /etc/postgresql/14/main/postgresql.conf
    regexp: "^#?listen_addresses"
    line: "listen_addresses = '*'"
  notify: Restart Postgres

- name: Configure HBA (Allow App Network)
  lineinfile:
    path: /etc/postgresql/14/main/pg_hba.conf
    line: "host    all             all             0.0.0.0/0            md5"
  notify: Restart Postgres